
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ПАДИНГИ FEATURE SECTION*/
.feature-section {
    padding-top:60px;
    padding-bottom: 60px;

    @media screen and(min-width:1200px) {
        padding-top:94px;
        padding-bottom: 94px;
    }
}



.feature-list {
   
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  

    // @media screen and (min-width:768px) {
    //    display: flex;
    //  flex-wrap: wrap;
    // }

    @media screen and(min-width:768px) {
        margin: -15px;
        
    }
    @media screen and(min-width:1200px) {
        padding:0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        
        margin: -15px;
    }
    
}
    
 .feature-list__title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;


   @media screen and(min-width:768px) {
    text-align: start;
    
  }
   
}

.feature-list .feature-list__text {
    color:  $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
 
}

.feature-list .feature-list__item {
  
    @media screen and(min-width:768px) {
        flex-basis: calc((100% - 4 * 15px) /2 );
        margin: 15px;
     
    }
    @media screen and(min-width:1200px) {

        flex-basis: calc((100% - 8 * 15px) / 4);
        margin: 15px;
       
        
    }
  

    
}



 /* ПСЕВДОЭЛЕМЕНТ*/
.feature-list__item::before {
    content: "";
    display: block;
    width: 450px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $card-background-color;
    margin-bottom: 30px;

    @media screen and(min-width:768px) {
        width: 354px;
        
    }
    @media screen and(min-width:1200px) {
        width: 270px;
        
    }
} 
 
/* ИКОНКИ FEATURE*/

.feature-list__item--antenna::before {
    background-image: url("../images/icon-svg/antenna\ 1.svg");
    
}
.feature-list__item--clock::before {
    background-image: url("../images/icon-svg/clock\ 1.svg");
}
.feature-list__item--diagram::before {
    background-image: url("../images/icon-svg/diagram\ 1.svg");
}
.feature-list__item--astronaut::before {
    background-image: url("../images/icon-svg/astronaut\ 1.svg");
}
