
/* ЛИНИЯ ХЕДЕРА*/
.head {
    border-bottom: 1px solid $border-header-color;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center; 
   
 
}

/*МЕНЮ КОНТЕЙНЕР БУРГЕРА*/
.menu-container { 
    z-index:2;
   
   
   
      @media screen and (max-width:767px) {
       
        display: none;
        position: absolute;
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        // transform: translate(-50%, -50%);
        background-color: $primary-white-color;

        &.is-open {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
          
        }
        
    }
   
    @media screen and (min-width:768px) {
        display: flex;
        text-align: center;
        align-content: flex-end;
    }
   

}

.mobile-contact {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
   
 
 
}

/* ОФОРМЛЕНИЕ КНОПКИ МЕНЮ БУРГЕРА*/
.menu-burger {

   display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    
  /*CКРЫТИЕ ИКОНКИ УБИРАЕМ ИЗ ПОТОКА*/
    & .icon-cross {
        display: none;
    }
   /* КОГДА НА КНОПКЕ Menu-burger is-open, тогда показывается иконка крест*/
    &.is-open .icon-cross {
        display: block;
    }
    /* КОГДА НА menu-burger is-open скрывается иконка меню*/
    &.is-open .icon-menu {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: none;
    }

    z-index: 3;
   
}



/*------------* END--------------*/




.site-nav {
    list-style: none;
    margin:0;
    padding: 0;
      
    @media screen and (max-width:767px) {
        
        padding-top: 48px; 
        padding-left: 40px;       
    }

    @media screen and (min-width:768px) {
        display: flex;
         
    }
   
      @media screen and (min-width:1200px) {
      display: flex;
    
    }
  

    
}

/* ОТСТУПЫ*/
.site-nav__item {

    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
         
    }

    @media screen and (min-width:768px) {
        & + & {
        margin-left: 50px;
        }
         
    }
   
}

 .site-nav__link {

    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
   

    &:hover,
    &:focus {
     color:  $accent-color;
    }

    @media screen and (min-width:767px) {
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
    
        color: $primary-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-decoration: none;
        
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $animation-time;
    
        &:hover,
        &:focus {
            color:  $accent-color;
        }
        
        & {
            position: relative;
        }
        
        &.site-nav__current {
        color: $accent-color;
        }
    }
    
}

// /* CURRENT SITE-NAV*/
.site-nav .site-nav__link.site-nav__current {
    color: $accent-color;
}



.site-nav__link.site-nav__current::after {
 content: "";
 position: absolute;
 display: block;

 border: 1px solid $accent-color;
 border-radius: 2px;
 background-color: $accent-color;
 
 left: 0;
 width: 44px;
 height: 4px;
 bottom: -1px;
 width: 100%;
 opacity: 1;

 transition-property: background-color;
 transition-duration: 250ms;
 transition-timing-function: $animation-time;

 @media screen and (max-width:767px) {
    display: none;
}
 

}

/* CONTACT*/

.contact {
   
    list-style: none;
   
  @media screen and (max-width:767px) {
    
    margin:0;
    padding-left: 40px;
    display: flex;
    flex-direction: column-reverse;
   
  }


  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
   
   
 }

    @media screen and (min-width:1200px) {
       display: flex;
       list-style: none;
       align-items: center;
       padding: 0;
       margin-left: 300px;
      
    }

}

.contact__list {
 
    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-top:32px;
            
        }
         
    }
   
}

.contact__link {
   
    flex-direction:row-reverse;
    align-items: center;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
     margin: 0;
     padding: 0;

     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: $animation-time;

     &:hover,
     &:focus {
     color: #2196F3;
     cursor: pointer;
     }

    @media screen and (min-width:768px) {
        display: flex;
        
    }
    @media screen and (max-width:767px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #757575;
    }
}

.contact__link--tel {
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
    align-items: center;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
     margin: 0;
     padding: 0;

     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: $animation-time;

     &:hover,
     &:focus {
     color: #2196F3;
     cursor: pointer;
     }
     
    
     @media screen and (min-width:768px) {
        display: flex;
      
     
    }

     @media screen and (max-width:767px) {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #2196F3;
      
       
    }

}


.contact__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $secondary-text-color;

    & {
     fill: currentColor;
    }

    @media screen and (max-width:767px) {
        display: none;
        
    }
   
}

.contact__tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
   
    fill: $secondary-text-color;
    fill: currentColor;
   
    @media screen and (max-width:767px) {
        display: none;
        
    }
    @media screen and (min-width:1200px) {
         margin-left: 30px;
        
    }
}

.mobile-nav_link {
    
    color: #2196F3;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 10px;
   
}

.mobile-nav {
    list-style: none;
    display: flex;

    @media screen and (max-width:767px) {
        padding-bottom: 48px;
        margin-top: 64px;
       margin-bottom: 0;
        
    }
    

    @media screen and (min-width:768px) {
    display: none;
   }
}
.mobile-nav_item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  
}

