
/* ВСЕМ КАРТИНКАМ*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero {
text-align: center;
     
}
 
/*ФОН НА ВЕСЬ БЛОК HERO и ФОНОВЫЕ ОТЗЫВЧИВЫЕ ИЗОБРАЖЕНИЯ*/
.overlay {

    min-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  
   
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
         url("../images/mobile/hero/Header_mobile@1.jpg");
        
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;

         @media screen and (min-device-pixel-ratio: 2),
         screen and (min-resolution: 192dpi),
         screen and (min-resolution: 2dppx) {
         .overlay {
           background-image:linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url('../images/mobile/hero/Header_mobile@2x.jpg');
         }
       }
        
}

   @media (min-width:481px) {
       .overlay {
        
        background-image:linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/Header_tablet@1.jpg");
       }
       
       @media screen and (min-device-pixel-ratio: 2),
       screen and (min-resolution: 192dpi),
       screen and (min-resolution: 2dppx) {
       .overlay {
         background-image:linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4), 
          rgba(47, 48, 58, 0.4)), 
          url('/images/mobile/hero/Header_tablet@2X.jpg');
       }
     }
       
      
   }


   @media (min-width:769px) {
    .overlay {
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
     background-image:linear-gradient(
         to right,
         rgba(47, 48, 58, 0.4), 
         rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/Heder_desctop@1.jpg");
    }
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .overlay {
      background-image:linear-gradient(
       to right,
       rgba(47, 48, 58, 0.4), 
       rgba(47, 48, 58, 0.4)), 
       url('/images/mobile/hero/Heder_desctop@2x.jpg');
    }
  }
   
   
}

// }
/*-----------------------------END OVERLEY------------------------------*/

.overlay__title {
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    padding-top:118px;
    margin-top: 0px;
    
   
   @media screen and (min-width:1200px){
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform:uppercase;
    letter-spacing: 0.06em;
    padding-top: 200px;
    margin-bottom: 30px;
}
   
}


/* КНОПКА HERO*/
.overlay__button {
   display: inline-block;
    min-width: 200px;
    height: 50px;
    text-align: center;
    background-color: $accent-color;
    color: $primary-white-color;
    border-color: transparent;

    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $animation-time;
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.06em;  
    cursor: pointer;

}