.client-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
    margin-left: auto;
    margin-right: auto;
    
}
/* ЗАГОЛОВОК КЛИЕНТЫ*/
.client-section__heading {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
   text-align: center;
}
.client {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
/*ClIENTS SECTION*/
.client__item {
    display: flex;
     text-align: center;
     list-style: none;
    
}
/*КНОПКИ ПОСТОЯННЫЕ КЛИЕНТЫ*/
.client__button {
    display: flex;
    width: 170px;
    height: 92px;
    padding: 0;
    background-color: $primary-white-color;
    border: none;
    border: 1px solid $color-icon;
    border-radius: 4px;

    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    border-color: $accent-color;
    }
   
}


// .client__button:hover{
//     border-color: $accent-color;
// }
.client__logo {
    width: 106px;
    height: 60px;
    padding: auto;
    margin: auto;
    fill: $color-icon;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .client__button:hover &,
    .client__button:focus & {
      fill: $accent-color;
    }
}

// /* hover и focus постоянные клиенты*/
// .client__button:hover .client__logo,
// .client__button:focus .client__logo {
//     fill: $accent-color;
    
// }
.client__item:not(:last-child){
    margin-right: 30px;
   
}