img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ПАДИНГИ СЕКЦИИ TEAM*/
.our-team {
    background-color: $card-background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
       
    }
}
/*КОНТЕЙНЕР OUR-TEAM*/


/* ЗАГОЛОВОК OUR-TEAM */
.our-team__heading {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}
.team {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
   

    @media screen and(min-width:768px) {
       display: flex;
        margin: -15px;
    }
    @media screen and(min-width:1200px) {
        margin: -15px;
       
    }
}

.desc-content {
    
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $primary-white-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

/*OUR TEAM SECTION*/
.team .desc-content__caption{
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;  
    text-align: center;

   
    margin-top: 0;
    margin-bottom: 10px;
    
}
.team .desc-content__subtitle {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;  
    text-align: center;

   // margin-top: 10px;
      margin: 0;
      padding: 0;
  
}

.social-media {
    display: flex;
    padding: 0;
    margin-top: 16px;
    text-align: center;
    justify-content: center;
    list-style: none;
}

 .social-media__icon {
    display:flex;
    width: 44px;
    min-height: 44px;
    margin:0;
    
    align-items: center;
    list-style: none;
    justify-content: center;
    border-radius: 50%;
}

/*КНОПКА!!!CОЦИАЛЬНЫЕ ИКОНКИ КОМАНДЫ*/
.social-media__links {
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 44px;
    height: 44px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: $primary-white-color;

    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;  
    }

}


.social-media__instagram {
    padding: 0;
    width: 20px;
    height: 20px;
    fill: $icon-color;

    .social-media__links:hover &,
    .social-media__links:focus & {
     fill: $primary-white-color;
    }

}
.social-media__twiter {
    padding: 0;
    width: 20px;
    height: 16.25px;
    fill: $icon-color;

    .social-media__links:hover &,
    .social-media__links:focus & {
     fill: $primary-white-color;
    }
    
}

.social-media__facebook {
    padding: 0;
    width: 10px;
    height: 20px;
    fill: $icon-color;

    .social-media__links:hover &,
    .social-media__links:focus & {
     fill: $primary-white-color;
    }
}
.social-media__linkedin {
    padding: 0;
    width: 20px;
    height: 20px;
    fill: $icon-color;

    .social-media__links:hover &,
    .social-media__links:focus & {
     fill: $primary-white-color;
    }

}

.team__list {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 30px;

    @media screen and(min-width:768px) {
        width: 354px;
        flex-basis: calc((100% - 4 * 15px) /2 );
        margin: 15px;
    }
    @media screen and(min-width:1200px) {
        width: 270px;
        flex-basis: calc((100% - 8 * 15px) /4 );
        margin: 15px;
    }

} 

 .team__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}