img {
    display: block;
    max-width: 100%;
    height: auto;
}


.client-section {

    padding-top: 60px;
    padding-bottom: 30px;
         
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
  
    

}


    
// }
/* ЗАГОЛОВОК КЛИЕНТЫ*/
.client-section__heading {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 0;
    // margin-bottom: 50px;
   text-align: center;
}
.client {
    // display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

  @media screen and (min-width:480px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }



  @media screen and (min-width:1200px) {
    display: flex;
    
}

}

/*ClIENTS SECTION*/
.client__item {
    display: flex;
    list-style: none;

    &:not(:last-child){
        margin-bottom: 30px;
     }
     
     @media screen and (min-width:780px) {
        width: 226px;
         
    }
    @media screen and (min-width:1200px) {
         width: 170px;
        
         &:not(:last-child){
            margin-bottom: 0;
         }
    }

    
     

    
    
}
/*КНОПКИ ПОСТОЯННЫЕ КЛИЕНТЫ*/
.client__button {
    display: flex;
    // width: 170px;
    width: 210px;
    height: 92px;
    padding: 0;
    background-color: $primary-white-color;
    border: none;
    border: 1px solid $color-icon;
    border-radius: 4px;

    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    border-color: $accent-color;
    }
    

   
}


// .client__button:hover{
//     border-color: $accent-color;
// }
.client__logo {
    width: 106px;
    height: 60px;
    padding: auto;
    margin: auto;
    fill: $color-icon;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .client__button:hover &,
    .client__button:focus & {
      fill: $accent-color;
    }
}

// /* hover и focus постоянные клиенты*/
// .client__button:hover .client__logo,
// .client__button:focus .client__logo {
//     fill: $accent-color;
    
// }
// .client__item:not(:last-child){
//     margin-right: 30px;
   
// }