img {
    display: block;
    max-width: 100%;
    height: auto;
}


.client-section {

    padding-top: 60px;
    padding-bottom: 30px;

    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
  
         
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
  
}

/* ЗАГОЛОВОК КЛИЕНТЫ*/
.client-section__heading {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;

    @media screen and (min-width:1200px) {
        color: $primary-text-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
         margin-bottom: 50px;
        text-align: center;
    
    }
}

.client {
   
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (max-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (min-width:480px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width:780px) {
        margin: -15px;
    }

    @media screen and (min-width:1200px) {
      margin: -15px;
    
    }

}

/*ClIENTS SECTION*/
.client__item {
    display: flex;
    list-style: none;

    @media screen and (max-width:767px) {
        &:not(:last-child){
            margin-bottom: 30px;
         }
         
        
    }

    @media screen and (min-width:768px) {
        width: 226px;
        flex-basis: calc((100% - 6 * 15px) /3 );
        margin: 15px;
       
    }

    @media screen and (min-width:1200px) {
         width: 170px;
         flex-basis: calc((100% - 12 * 15px) /6 );
         margin: 15px;
       
    }

    
}


/*КНОПКИ ПОСТОЯННЫЕ КЛИЕНТЫ*/
.client__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    padding: 0;
    background-color: $primary-white-color;
    border: none;
    border: 1px solid $color-icon;
    border-radius: 4px;

    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    border-color: $accent-color;
    }

    @media (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        width: 226px;
        align-items: center;
        justify-content: center;
    }

   
}

.client__logo {

    width: 106px;
    height: 60px;
    fill: $color-icon;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .client__button:hover &,
    .client__button:focus & {
      fill: $accent-color;
    }
   
 
}
