



.content-project {
    @media screen and(min-width:768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    } 
    @media screen and(min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    } 
}

/*PROJECT ПОРТФОЛИО*/
.control {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    // text-align:center;
    align-content: flex-start;
    margin: 0;
    @media screen and(min-width:768px) {
        
        margin-bottom: 30px;
    } 

    @media screen and(min-width:1200px) {
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;
    } 
 
}

.control .control__item {
    margin-left: 8px;
    margin-bottom: 15px;
   
}
.сontrol .item {
   padding: 0;
}
.control__item:hover {
    box-shadow: 0px 2px 2px 0px #0000001F;

    box-shadow: 0px 1px 2px 0px #00000014;

    box-shadow: 0px 3px 1px 0px #0000001A;
}

/* КНОПКИ ПОРТФОЛИО*/
.control__button {
    display: inline-block;
    background-color: $card-background-color;
    color: $primary-text-color;
    padding: 6px 22px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    // text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    }
}

.control__button:hover, 
.control__button:focus {
    background-color: $accent-color;
    color: $primary-white-color;
}   

/* КАРТОЧКИ CARD_SET */

.card-set{
    padding: 0;
    margin: 0;
    list-style: none;
    // display: flex;
    flex-wrap: wrap;
   
    // margin-left: -30px;
    // margin-top: -30px;

  
    @media screen and(min-width:768px) {
        display: flex;
        margin: -15px;
     
   
  }
  @media screen and(min-width:1200px) {
  
    margin: -15px;
 }
   
     
}


// .card-set > .card-set__list {

   

//     // @media screen and(min-width:768px) {
//     //     flex-basis: calc((100% - 4 * 5px) /2 );
//     //     margin: 5px;
     
//     // }
  
//     // flex-basis: calc(100% / 3 - 30px);
//     // margin-top: 30px;
//     // margin-left: 30px;
// }
/* HOVER ТЕНИ*/
.card-set__list { 
   
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
       cursor: pointer;
    }

   @media screen and(min-width:768px) {
        flex-basis: calc((100% - 4 * 15px) /2 );
        margin: 15px;
    }

  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

}

.card-set__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}


.card-thumb {
    position: relative;
    overflow: hidden;

    @media screen and (min-width:768px) {
        width: 354px;
        
    }
   

}


.card-thumb__text {
    margin: 0;
    position: absolute;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $primary-white-color;

    top:0;
    bottom: 0;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-set__list:hover & {
        transform: translateY(0);
        opacity: 1;
    }
    
}
.card-set__list:hover .card-thumb__text {
    transform: translateY(0);
    opacity: 1;
}

/* ПАДИНГИ КАРТОЧЕК ПОРТФОЛИО*/
.card-сontent {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border: 1px solid $border-color;
}
.card-set__list  .card-сontent__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-top: 0;
    margin-bottom: 0;
}
.card-set__list  .card-сontent__text {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    
    margin-top: 4px;
    margin-bottom: 0;
}
/* ВСЕМ КАРТИНКАМ*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}