$primary-text-color:#212121;
$secondary-text-color: #757575;
$accent-color:#2196F3;
$primary-white-color: #FFFFFF;
$border-header-color:#ECECEC;
$animation-time: cubic-bezier(0.4, 0, 0.2, 1);
$color-icon: #AFB1B8;
$font-family: Roboto,sans-serif;
$font-family-logo: Raleway,sans-serif;
$card-background-color:#F5F4FA;
$project-thumb-bg: rgba(47, 48, 58, 0.8);
$icon-color:#AFB1B8;
$footer-bacground-color:#2F303A;
$form-input-border-color:rgba(255, 255, 255, 0.3);
$modal-bg-color:rgba(0, 0, 0, 0.2);
$border-color:#EEEEEE;